html{
    background-color: #000;
}

#container {
    width: 100%;
    background-color: #f0f;
}

#title{
    text-align: center;
}

#search_area {
    align-content: center;
    width: 50%;
    margin: auto;
}

#poke_name{
    padding: 0px 10px;
}

table {
    text-align: center;
    width: 66%;
    margin: auto;
    padding: 1%;
    background-color: #ff0;
}

#trainer h1{
    font-size: 48px;
    margin: auto;
    color:#0f0;
    padding: 10px;
    text-align: center;
}

img {
    padding:15px;
}

#trainer ul {
    margin: auto;
    list-style: none;
    padding: 20px;
}

#trainer ul li {
    padding: 1% 5%;
    display: inline;
    font-size: 18px;
    color:#fff;
    background-color: #abc123;
}

#trainer{
    background-color:#00f;
    text-align: center;
    width: 66%;
    margin:auto;
}